@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Asap", sans-serif;
}
body {
  background-color: #ffffff;
}
.stay-connected {
  padding: 4rem 0 4rem 0;
  width: 50%;
}
.stay-connected h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 120%;
  color: #242423;
}
.enquires {
  width: 80%;
  margin: 0 auto;
}
.enquires img {
  width: 500px;
  height: 564px;
}
.enquires p {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 145%;
  color: #242423;
}
.enquires input {
  padding: 1rem;
  border: 1px solid #c4c4c4;
  border-radius: 6px;
}
.connect {
  width: 80%;
  margin: 0px auto;
  padding-top: 2rem;
  padding-bottom: 4rem;
}
.connect h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 155.1%;
}
