@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Asap", sans-serif;
}
body{
  background-color: #ffffff;
}
.faqs {
  background-image: url(../faqs-img/Rectangle\ 150.png);
  padding: 5rem;
}
.faqs h1 {
  font-family: Asap;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 120%;
}
.fa-search {
  color: #5da3d7;
}
.has-search .form-control {
  padding-left: 2.375rem;
}
.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #c4c4c4;
}
.questions {
  padding: 3rem;
}
.questions h1 {
  margin: 0 auto;
  width: 55%;
  font-style: normal;
  font-weight: 600;
  font-size: 39px;
  line-height: 128%;
  color: #242423;
  padding-bottom: 2rem;
}
.option {
  margin: 1rem auto;
  width: 80%;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 155.1%;
  color: #4f4f4f;
}
.any-questions {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.any-questions h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 39px;
  line-height: 128%;
  color: #242423;
  width: 45%;
  margin: 0 auto;
}
.any-questions p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 155.1%;
  color: #4f4f4f;
  width: 45%;
  margin: 0 auto;
}