* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}


/* Custom Fonts */
@import url(../fonts/TTCommons-Black.ttf);
@import url(../fonts/TTCommons-BlackItalic.ttf);
@import url(../fonts/TTCommons-Bold.ttf);
@import url(../fonts/TTCommons-BoldItalic.ttf);
@import url(../fonts/TTCommons-DemiBold.ttf);
@import url(../fonts/TTCommons-DemiBoldItalic.ttf);
@import url(../fonts/TTCommons-ExtraBold.ttf);
@import url(../fonts/TTCommons-Medium.ttf);
@import url(../fonts/TTCommons-Regular.ttf);

@import url(../fonts/Asap-Bold.otf);
@import url(../fonts/Asap-BoldItalic.otf);
@import url(../fonts/Asap-Italic.otf);
@import url(../fonts/Asap-Medium.otf);
@import url(../fonts/Asap-MediumItalic.otf);
@import url(../fonts/Asap-Regular.otf);
@import url(../fonts/Asap-Symbols.otf);


@font-face {
  font-family: 'TTCommons-Black';
  src: url(../fonts/TTCommons-Black.ttf)
}

@font-face {
  font-family: 'TTCommons-BlackItalic';
  src: url(../fonts/TTCommons-BlackItalic.ttf)
}

@font-face {
  font-family: 'TTCommons-Bold';
  src: url(../fonts/TTCommons-Bold.ttf)
}

@font-face {
  font-family: 'TTCommons-BoldItalic';
  src: url(../fonts/TTCommons-BoldItalic.ttf)
}

@font-face {
  font-family: 'TTCommons-DemiBold';
  src: url(../fonts/TTCommons-DemiBold.ttf)
}

@font-face {
  font-family: 'TTCommons-DemiBoldItalic';
  src: url(../fonts/TTCommons-DemiBoldItalic.ttf)
}

@font-face {
  font-family: 'TTCommons-ExtraBold';
  src: url(../fonts/TTCommons-ExtraBold.ttf)
}

@font-face {
  font-family: 'TTCommons-Medium';
  src: url(../fonts/TTCommons-Medium.ttf)
}

@font-face {
  font-family: 'TTCommons-Regular';
  src: url(../fonts/TTCommons-Regular.ttf)
}

@font-face {
  font-family: 'Asap-Bold';
  src: url(../fonts/Asap-Bold.otf)
}

@font-face {
  font-family: 'Asap-BoldItalic';
  src: url(../fonts/Asap-BoldItalic.otf)
}

@font-face {
  font-family: 'Asap-Italic';
  src: url(../fonts/Asap-Italic.otf)
}

@font-face {
  font-family: 'Asap-Medium';
  src: url(../fonts/Asap-Medium.otf)
}

@font-face {
  font-family: 'Asap-MediumItalic';
  src: url(../fonts/Asap-MediumItalic.otf)
}

@font-face {
  font-family: 'Asap-Regular';
  src: url(../fonts/Asap-Regular.otf)
}

@font-face {
  font-family: 'Asap-Symbol';
  src: url(../fonts/Asap-Symbol.otf)
}

body {
  min-height: 100vh;
  font-family: 'Asap-Regular', sans-serif !important;
}

/* Utilities */

.remove-mt {
  margin-top: -1.425rem;
}

.bold {
  font-weight: bold !important;
}

.displayNone {
  display: none;
}

.disabled-state {
  background-color: #c4c4c4;
  color: #4f4f4f;
  cursor: not-allowed;
}

.enabled-state {
  background-color: #000249;
  color: #fff;
  cursor: pointer;
}

.button-style {
  outline: none;
  border: 0;
  padding: 12px 20px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

/* Utilities */

.body-image {
  background-image: url(../assets/bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #212224 !important;
  color: #fff !important;
  font-family: 'TTCommons-Bold', sans-serif !important;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem auto 0;
  line-height: 45px;
}

.nav-container .logo {
  justify-content: start;
}

.nav-container .blog-text {
  justify-content: end;
}

.nav-container .logo img.logo {
  max-height: 48px;
  max-width: 48px;
}

.nav-container a:link {
  text-decoration: none;
}

.nav-container a.blog {
  color: #fff;
  font-size: 1.425rem;
}

.countdown-container {
  text-align: center;
  margin: 1rem auto;
}

.count-down {
  max-width: 140px;
  margin: 1rem auto;
}

.count-down .heading-text {
  font-family: 'TTCommons-Bold', sans-serif;
  font-size: 2.525rem;
}

.count-down .desc-text {
  font-family: 'TTCommons-Medium', sans-serif;
  font-size: 1rem;
}

.coming-soon-content {
  margin-top: 1rem;
  max-height: 600px;
}

.coming-soon-content .website {
  font-family: 'TTCommons-Bold', sans-serif;
  font-size: 2.225rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

.coming-soon-content .launching-soon {
  font-family: 'TTCommons-Bold', sans-serif;
  font-size: 2.825rem;
  font-weight: 900;
}

.coming-soon-content .coming-soon-image {
  display: none;
}

.newsletter-container {
  margin: 2rem auto;
}

.input-field-area {
  margin-top: 1rem;
}

.input-field-area .form-control {
  background-color: transparent;
  border: 0;
  padding: 0;
  display: flex;
}

.input-field-area .form-control input,
.input-field-area .form-control button {
  margin: 0;
  height: 50px;
}

.input-field-area .form-control input.input {
  background-color: transparent;
  border: 1px solid #fff;
  outline: 0;
  padding: 0.825rem;
  font-family: 'TTCommons-Bold', sans-serif;
  margin: 0;
}

.input-field-area .form-control button.submit {
  background-color: #fff;
  color: #000;
  border: 1px solid transparent;
  outline: 0;
  padding: 0.825rem;
  font-family: 'TTCommons-Bold', sans-serif;
  margin: 0;
  margin-right: 1px;
}

.input-field-area .form-control button.submit .bell {
  width: 12px;
  height: 12px;
}

.social-icons {
  display: inline-flex;
  flex-direction: row;
  margin-left: 2rem;
}

.social-icons .social-icon {
  margin: auto 14px;
}

.copyright-area {
  color: rgb(129, 129, 129);
  margin: 2rem auto;
}

.navbar-toggler {
  border: 0
}

/**
 *
 * Auth pages start
 *
 */

.side-image {
  display: none;
}

a.login-button-text {
  text-decoration: none
}

.login-button-text {
  color: #000249;
  padding: 8px 12px;
  cursor: pointer;
  border: 2px solid #000249;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}


.login-button-text:hover {
  background-color: #000249;
  color: #fff;
}

.back-button {
  color: #000249;
  cursor: pointer;
}

.side-image {
  background: url(../assets/side-image-auth-page.svg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  color: #fff;
}

.heading-title,
.desc-text {
  margin-left: 2rem;
  margin-right: 2rem;

}

.heading-title {
  font-size: 1.825rem;
  margin-top: 10rem;
  font-family: "Asap-Medium", sans-serif;
  word-wrap: normal;
}

.desc-text {
  font-size: 1.625rem;
  font-family: "Asap-Regular", sans-serif;
  font-weight: 400;
}

.onboard-container {
  width: 90%;
  margin: auto;
  margin-top: 3rem;
  text-align: center;
}

.sign-up-onboard-text {
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-around;
}

a.onboard-link:link {
  text-decoration: none;
}

.onboard {
  display: flex;
  align-items: center;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  max-width: 550px;
  margin: 2rem auto auto;
  padding: 1.125rem 1rem;
  text-decoration: none;
}

.onboard:hover {
  border: 2px solid #000249;
}

.onboard-title {
  font-size: 1.425rem;
  line-height: 3rem;
  font-family: 'Asap-Bold', sans-serif !important;
  font-weight: 600;
  line-height: 2.225rem;
}

.onboard .onboard-text {
  margin-left: 2rem;
}

.onboard .onboard-text-title {
  color: #242423;
  font-family: 'Asap-Medium', sans-serif !important;
  font-size: 1.225rem;
  margin-bottom: 12px;
}

.onboard .onboard-text-desc {
  color: #242423a9;
  font-weight: 300 !important;
  font-family: 'Asap-Medium', sans-serif !important;
}

.icon {
  width: 60px;
  max-height: 50px;
  padding: 0.485rem 0.2rem;
  color: #000249;
  background-color: #fff;
  border-radius: 20%;
  -webkit-border-radius: 20%;
  -moz-border-radius: 20%;
  -ms-border-radius: 20%;
  -o-border-radius: 20%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.icon .icon-icon {
  margin: auto;
}

.form-control.sign-up,
.form-control.login {
  margin-top: 2rem;
  border: 0 !important;
  padding: 0 !important;
}

.form-control .input {
  width: 100%;
  padding: 0.825rem 12px;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  -webkit-border-radius: .25rem;
  -moz-border-radius: .25rem;
  -ms-border-radius: .25rem;
  -o-border-radius: .25rem;
  margin-bottom: 1rem;
}

.form-control .input:placeholder {
  color: #ced4da;
  font-size: 300;
}

.hidePass {
  position: relative;
  top: -3.225rem;
  left: 8rem;
  color: #c4c4c4;
}

.consent,
.link-text {
  font-family: 'Asap-Regular', sans-serif !important;
  font-size: 14px;
  line-height: 20px;
}

.button-style {
  padding: 18px 28px;
}

.continue-onboarding {
  max-width: 200px;
  margin: 2rem auto;
}

.button-primary {
  background-color: #000249;
  color: #fff;
  cursor: pointer;
}

.button-primary:hover {
  color: #fff;
  background-color: rgb(32, 30, 30);
}

a.signup-link:link,
a.link:link,
a.forgot-pass-link:link {
  text-decoration: none;
}

a.signup-link:hover,
a.link:hover {
  color: #000249;
}

.sub-title {
  color: rgb(32, 30, 30)
}

@media screen and (min-width: 768px) {
  .nav-container {
    margin: 2rem auto 0;
  }

  .count-down .heading-text {
    font-size: 3.425rem;
  }

  .count-down .desc-text {
    font-size: 1.325rem;
  }

  .coming-soon-content {
    margin-top: 4rem;
  }

  .coming-soon-content .website {
    font-size: 2.825rem;
    margin-bottom: 1.225rem;
  }

  .coming-soon-content .launching-soon {
    font-size: 3.825rem;
    font-weight: 900;
  }

  .coming-soon-content .newsletter-description {
    font-size: 1.625rem;
  }

  .input-field-area .form-control input,
  .input-field-area .form-control button {
    margin: 0;
    height: 70px;
  }

  .input-field-area .form-control input.input {
    padding: 1.425rem;
    width: 300px;
    color: #fff;
  }

  .input-field-area .form-control button.submit {
    padding: 1.425rem;
  }

  .input-field-area .form-control button.submit .bell {
    width: 14px;
    height: 14px;
  }

  .newsletter-container {
    margin: 5rem auto;
  }

  .login-button-text {
    padding: 16px 24px;
  }

  .onboard {
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    max-width: 550px;
    margin: 3rem auto auto;
    padding: 2.425rem 2rem;
  }

  .onboard-title {
    font-size: 2.625rem;
    margin-bottom: 1.625rem;
  }

  .onboard .onboard-text-title {
    font-size: 1.645rem;
    margin-bottom: 18px;
  }

  .onboard .onboard-text-desc {
    font-size: 1.425rem;
  }

  .icon {
    padding: 1.085rem 1.025rem;
  }

  .hidePass {
    left: 16rem;
    cursor: pointer;
  }

  .onboard-container {
    width: 55%;
  }
}

@media screen and (min-width: 1024px) {

  .coming-soon-content .coming-soon-image {
    display: block;
  }

  .side-image {
    display: block;
  }

  .hidePass {
    left: 12rem;
  }

  .continue-onboarding {
    margin: 3rem auto;
  }

}

@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Asap", sans-serif;
}

.padding {
  padding-bottom: 2rem;
}


/*Nav-bar styling*/
.signup {
  padding: 8px 24px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  display: block;
}

.nav-item {
  position: static;
  display: flex;
  margin-left: 1.625rem;
}

.navbar-toggler .navbar-toggler-icon {
  display: block !important;
  width: auto;
  height: auto;
}

.navbar-toggler.toggler {
  border: 0;
  background-color: #5DA3D7;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.navbar-toggler.toggler:hover,
.navbar-toggler.toggler:active {
  color: #000249;
  background-color: #5DA3D7;
}

.navbar-toggler.toggler .fa-bars {
  color: #fff;
}

.navbar-nav ul li {
  padding: 0 10px;
}

.navbar-nav ul a {
  font-weight: bold;
}

a:hover {
  color: #797a9d;
}

.nav-link {
  font-size: 1.1em !important;
  color: #000249;
  font-weight: bold;
}

.navbar-brand img {
  height: 50px;
}

.navbar-toggler {
  border-color: #000249;
}


.navbar-toggler .fa-bars:hover {
  color: #797a9d;
}

/*Button styling*/
.btn-primary {
  background-color: #000249;
  border: 1px solid #000249;
  border-radius: 8px;
}

.btn-lg {
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
}

.btn-primary:hover {
  background-color: #797a9d;
  border: 1px solid #797a9d;
  color: #fff;
}

.navbar-collapse.collapse.show+div.mobile-signup {
  margin-left: 2rem;
  margin-top: 12px;
}

/* Header */

.header {}

/*Intro styling*/
.intro {
  background-image: url("../home-img/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem;
}

.intro-img {
  position: absolute;
  left: 32%;
  top: -10%;
  bottom: 82.77%;
  overflow: hidden;
  height: 155%;
}

.intro h1 {
  font-weight: bold;
  font-style: normal;
  line-height: 120%;
  color: #fff;
  padding-bottom: 1rem;
}

.intro p {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 145%;
  color: #f9faf9;
}

.solution {
  padding-top: 4rem;
  width: 80%;
}

.info {
  background-color: #f9faf9;
  padding-top: 5rem;
}

.students {
  padding: 0 4rem 0 4rem;
  background-color: transparent;
}

.students h1 {
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  color: #242423;
}

.text-desc {
  font-size: 18px;
  line-height: 24px;
  color: #242424a4;
}

.house-owners {
  background-color: transparent;
}

.house-owners h1 {
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  color: #242423;
}

.learn-more-btn {
  background-color: transparent;
  color: #000249;
  border: 3px solid;
}

.learn-more-btn:hover {
  background-color: #000249;
  color: #fff;
  border: 3px solid;
}

ul {
  list-style-image: url("../home-img/check\ icon.png");
  margin-left: 20px;
}

.features {
  background-color: #fff;
  width: 75%;
}

.features h2 {
  color: #dd1717;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 145%;
}

.features h1 {
  color: #5da3d7;
  font-style: normal;
  font-weight: 600;
  font-size: 31px;
  line-height: 128.1%;
}

.features p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 155.1%;
  color: #797a9d;
}

.subscribe {
  background-color: #fff;
}

.subscribe h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 31px;
  line-height: 128.1%;
  color: #242423;
}

.subscribe h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 130.6%;
  color: #242423;
}

footer {
  background-color: #f9faf9;
  padding-top: 1rem;
  padding-left: 1rem;
}

footer a:link {
  text-decoration: none;
}

footer a {
  color: #242423;
  font-style: normal;
  font-size: 18px;
  line-height: 155.1%;
}

footer h5 {
  color: #242423;
  font-weight: bold;
  padding-bottom: 1rem;
  font-style: normal;
  font-size: 18px;
  line-height: 155.1%;
}

footer .footer-icon {
  color: #5da3d7;
  font-size: 24px;
}

footer .footer-icon:hover {
  color: #000249;
}

footer .social *+* {
  margin-left: 16px;
}

footer a.social-link {
  text-decoration: none;
}

.footer-txt {
  font-style: normal;
  font-size: 18px;
  line-height: 155.1%;
  text-align: left;
}


@media screen and (min-width: 1024px) {
  .intro {
    padding: 10rem 4rem 8rem;
  }

  .intro h1 {
    font-size: 48px;
  }

  .solution h1 {
    font-size: 48px;
  }


  .students h1 {
    font-size: 48px;
  }


  .house-owners h1 {
    font-size: 48px;
  }


  .subscribe {
    padding: 4rem 12rem;
  }

  .btn-lg {
    font-size: 20px;
    padding: 15px 60px;
  }

  footer {
    padding-top: 2rem;
  }
}
